<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a.lockquizekotlin">

    <!-- LockScreen을 띄우기 위함 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- 부팅시 다시 켜주기 위해 필요 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- 전화 상태 확인해서 잠금화면 띄워주기용 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher_main_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_main_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".LockScreen.LockScreenService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".LockScreen.UnlockCaptureService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".LockScreen.UnlockReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".LockScreen.RestartReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".CategoryListActivity" />
        <activity android:name=".QuestionActivity" />
        <activity android:name=".SelectThemeActivity" />
        <activity android:name=".SlideSettingsActivity" />
        <activity android:name=".SlideOnOffSettingActivity" />
        <activity android:name=".ForceLockSettingActivity" />

        <receiver
            android:name=".LockScreen.BootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".LoginActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".FontSettingActivity"></activity>
    </application>

</manifest>